In [189]:
'''About the dataset:
1. It has 20800 rows and 5 columns.
2. The columns consists of id,title,author,text,label.
Id: Unique id of each news article
Title: The title of the news article
Author: The name of the author who has written the news
Text: The news written in textual format
Label: To determine whether the news is fake or not.
3. The news which is fake is labeled as 1 else 0.
'''

'About the dataset:\n1. It has 20800 rows and 5 columns.\n2. The columns consists of id,title,author,text,label.\nId: Unique id of each news article\nTitle: The title of the news article\nAuthor: The name of the author who has written the news\nText: The news written in textual format\nLabel: To determine whether the news is fake or not.\n3. The news which is fake is labeled as 1 else 0.\n'

In [190]:
#importing the libraries
import numpy as np #used to perform mathematical operations on arrays and matrices.
import pandas as pd #mostly use for data analysis
import re #re stands for regular expression

In [191]:
#Data preprocessing
#step 1. importing the dataset
dataset = pd.read_csv(r"C:\Users\HP\Desktop\train.csv")
dataset

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [192]:
#separating the features and label
X = dataset.drop(columns='label',axis=1) #deafult is 0
print(X)

          id                                              title  \
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795  20795  Rapper T.I.: Trump a ’Poster Child For White S...
20796  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  Macy’s Is Said to Receive Takeover Approach by...
20798  20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
20795                              Jerome Hudson
20796                           Benjamin Hoffman
20797  Michael J. de la Merced and Rachel Abrams
20798                                Alex Ansary
20799                              David Swanson

                                                    text
0      House Dem Aide: We Didn’t Even See Comey’s Let...
1      Ever get the feeling your life circles the rou...
2      Why the Truth Might Get You Fired October 29, ...
3      Videos 15 Civilians Killed In Single US Airstr...
4      Print \nAn Iranian woman has been sentenced to...
...                                                  ...
20795  Rapper T. I. unloaded on black celebrities who...
20796  When the Green Bay Packers lost to the Washing...
20797  The Macy’s of today grew from the union of sev...
20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799    David Swanson is an author, activist, journa...

[20800 rows x 4 columns]

In [193]:
y = dataset['label']
print(y)

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

In [194]:
#checking if there is any null value exists
dataset.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [195]:
#taking care of missing data
#The missing values or data will be replaces by empty strings
dataset = dataset.fillna('')

In [196]:
#now that the missing values have been replaced, we now have
#to create a new column and merge the only which are important
dataset['main'] = dataset['author']  + dataset['title']
dataset['main']

0        Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1        Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom...
2        Consortiumnews.comWhy the Truth Might Get You ...
3        Jessica Purkiss15 Civilians Killed In Single U...
4        Howard PortnoyIranian woman jailed for fiction...
                               ...
20795    Jerome HudsonRapper T.I.: Trump a ’Poster Chil...
20796    Benjamin HoffmanN.F.L. Playoffs: Schedule, Mat...
20797    Michael J. de la Merced and Rachel AbramsMacy’...
20798    Alex AnsaryNATO, Russia To Hold Parallel Exerc...
20799               David SwansonWhat Keeps the F-35 Alive
Name: main, Length: 20800, dtype: object

In [197]:
#now, taking only data in X and label in Y
X = dataset['main'].values
y = dataset['label'].values
print(X)

['Darrell LucusHouse Dem Aide: We Didn’t Even See Comey’s Letter Until Jason Chaffetz Tweeted It'
 'Daniel J. FlynnFLYNN: Hillary Clinton, Big Woman on Campus - Breitbart'
 'Consortiumnews.comWhy the Truth Might Get You Fired' ...
 'Michael J. de la Merced and Rachel AbramsMacy’s Is Said to Receive Takeover Approach by Hudson’s Bay - The New York Times'
 'Alex AnsaryNATO, Russia To Hold Parallel Exercises In Balkans'
 'David SwansonWhat Keeps the F-35 Alive']

In [198]:
print(y)

[1 0 1 ... 0 1 1]

In [199]:
#now the last step of data preprocessing, converting the textual data into numbers since computer cannot understand text.
#using vectorizer, it uses some formula and because of that it converts all the text into numbers
from sklearn.feature_extraction.text import TfidfVectorizer
#here tf stands for term frequency and idf stands for invese document freuquency.
#both when combined, called vectorization
vector = TfidfVectorizer()
vector.fit(X)

TfidfVectorizer()

In [200]:
X = vector.transform(X)
print(X)

  (0, 34402)	0.17918739747269477
  (0, 33460)	0.2620405036866357
  (0, 33092)	0.34354025525372645
  (0, 28544)	0.22370120836039492
  (0, 19040)	0.35769014842767877
  (0, 18475)	0.24826788911182338
  (0, 16508)	0.20476648736259792
  (0, 16295)	0.1536111400920685
  (0, 10594)	0.23028973074454998
  (0, 8620)	0.24398932179297475
  (0, 8241)	0.2740085657861192
  (0, 7840)	0.2951614509491496
  (0, 6517)	0.20565002646673405
  (0, 5558)	0.3015240959717515
  (0, 1181)	0.26093253981852516
  (1, 35080)	0.3619575823267221
  (1, 22730)	0.19046856538729842
  (1, 14631)	0.23703745360274664
  (1, 11652)	0.5156618392052476
  (1, 7777)	0.313608220062674
  (1, 6219)	0.23118052033472167
  (1, 5116)	0.4508844821928066
  (1, 4420)	0.18290583060889654
  (1, 3621)	0.3493832273397924
  (2, 35465)	0.25674258355397445
  :	:
  (20797, 20409)	0.3114229497461508
  (20797, 17935)	0.21981444256219335
  (20797, 16233)	0.126331449970448
  (20797, 15082)	0.2922971928123606
  (20797, 7967)	0.20435849370299847
  (20797, 4918)	0.14454598768248803
  (20797, 3193)	0.319465848546272
  (20797, 1983)	0.2992952761823999
  (20797, 1589)	0.098670744830669
  (20797, 561)	0.3694328997471637
  (20798, 32494)	0.10887119044271203
  (20798, 27629)	0.21692587637506655
  (20798, 23382)	0.42770230418773786
  (20798, 15710)	0.1239481376261309
  (20798, 14776)	0.3319230052039841
  (20798, 10707)	0.42770230418773786
  (20798, 2818)	0.42770230418773786
  (20798, 1778)	0.44057760108258226
  (20798, 1318)	0.26955110878585165
  (20799, 32172)	0.09863101457754724
  (20799, 31542)	0.5671916368110707
  (20799, 17119)	0.43707151613801043
  (20799, 7894)	0.29198089463279825
  (20799, 1360)	0.429682172021621
  (20799, 266)	0.45569117622795363

In [201]:
#SPLITTING THE DATASET INTO TRAINING AND TEST SET
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state = 0)

In [202]:
#Training the logistic regression model into the training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [203]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [204]:
#predicting the test set results
y_predict = classifier.predict(X_test)
print(y_predict)

[0 1 1 ... 0 1 1]

In [205]:
print(y_test)

[0 1 1 ... 0 1 1]

In [206]:
print(y_test[0])

0

In [207]:
print(y_test[9])

1

In [208]:
print(y_test[4])

0

In [209]:
print(y_predict[4])

1

In [210]:
#checking the accuracy of test data
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_predict,y_test)
print(accuracy)

0.9545673076923077

In [211]:
#predicting the training set results
x_predict = classifier.predict(X_train)
print(x_predict)

[1 0 1 ... 0 0 0]

In [212]:
print(y_train)

[1 0 1 ... 0 0 0]

In [213]:
#checking the accuracy score of training data
accuracy_training = accuracy_score(x_predict,y_train)
print(accuracy_training)

0.9725360576923077

In [214]:
#making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_predict)
cm

array([[1874,  172],
       [  17, 2097]], dtype=int64)

In [215]:
#saving the trained model 
import joblib

In [216]:
joblib.dump(classifier,'my_model')

['my_model']

In [217]:
model = joblib.load('my_model')

In [218]:
model.predict(X_train)

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [219]:
model.predict(X_train[101])

array([0], dtype=int64)